.form {
  padding: 0 30px;
  padding-top: 80px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  background: darkcyan; */
}

.form input {
  border-radius: 25px;
  border: solid 1px var(--background-Grey);
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 27px;
  color: var(--background-Grey);
  /* font-family: var(--font-square-peg); */
  font-size: 22px;
  font-weight: var(--font-weight-regular);
}

.form input:focus {
  outline: solid 1px var(--font-color-purple);
}

.form textarea {
  border-radius: 25px;
  border: solid 1px var(--background-Grey);
  padding: 8px 25px;
  width: 100%;
  height: 180px;
  resize: none;
  margin-bottom: 27px;
  color: var(--background-Grey);
  /* font-family: var(--font-square-peg); */
  font-size: 22px;
  font-weight: var(--font-weight-regular);
}

.form textarea:focus {
  outline: solid 1px var(--font-color-purple);
}

.ColorChange {
  background: var(--background-DarkPurple);
}

.ColorChange:hover {
  background: #a184b4;
}

.form input:focus,
.form textarea:focus {
  color: var(--font-color-blue);
}
