.AccordionccordionWrapper {
  border: solid 1px var(--background-Grey);
  border-radius: 16px;
  padding: 35px 35px 40px 35px;
  margin: 44px 30px;
}

.accordionQuestion {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  position: relative;
  cursor: pointer;
}

.accordionQuestion svg {
  position: absolute;
  right: -25px;
  top: 15%;
  font-size: 30px;
  cursor: pointer;
  color: var(--background-DarkPurple);
}

.line {
  border-bottom: solid 1px var(--background-Grey);
  width: 100%;
  margin: 30px 0;
}

.accordionAnswer {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  position: relative;
}

.AccordionccordionWrapper ol {
  list-style-type: disc; /* or whatever style you want */
  padding-left: 40px; /* adjust as needed */
}
