.sectionTitlewrapper {
  width: 100%;
  color: var(--font-color-white);
}

.sectionPlacer {
  padding: 3.125rem 0 3.875rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: var(--font-size-SectionTitle);
  font-family: var(--font-square-peg);
  font-weight: var(--font-weight-regular);
}

.sectionsubTitle {
  font-size: var(--font-size-SectionSub);
  font-weight: var(--font-weight-light);
}
