.navBarwrapper {
  background: var(--background-color-blue);
  width: 100%;
  color: var(--font-color-white);
  position: fixed;
  height: 3.75rem;
  z-index: 100;
  top: 28px;
}

.navItemsAlignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.188rem;
}

.NavIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 5.625rem;
  z-index: 9;
}

.NavIcons svg {
  font-size: var(--burger-menu-size);
}

.dropdown {
  position: fixed;
  top: 5.5rem; /* topBar and Navbar combined height */
  right: -100%;
  background: var(--background-color-blue);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  padding-bottom: 30rem;
}

.dropdownCart {
  position: fixed;
  top: 88px;
  right: -100%; /* start from outside the viewport */
  background: var(--background-Grey);
  height: 100%; /* take up the full height */
  width: 100%; /* take up the full width */
  transition: 0.25s ease-in-out; /* animate the transition */
}

.dropdownCartOpen {
  right: 0; /* move to inside the viewport */
}

.dropdown a {
  padding: 0.938rem 0;
}

.dropdownOpen {
  right: 0;
}

.cartItemCount {
  z-index: 10;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: var(--font-color-blue);
  font-weight: var(--font-weight-bold);
  background: var(--background-notice);
  display: grid;
  justify-content: center;
  align-items: center;
}
