.navBarwrapper {
  background: var(--background-color-blue);
  width: 100%;
  color: var(--font-color-white);
  position: relative;
  height: 3.75rem;
  z-index: 100;
}

.navItemsAlignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.188rem;
}

.logo {
}

.burgerMenu svg {
  font-size: var(--burger-menu-size);
}

.dropdown {
  position: fixed;
  top: 5.5rem; /* topBar and Navbar combined height */
  right: -100%;
  background: var(--background-color-blue);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  padding-bottom: 90%;
}

.dropdown a {
  padding: 0.938rem 0;
}

.dropdownOpen {
  right: 0;
}
