.footerwrapper {
  width: 100%;
  background: var(--background-notice);
}

/* ------------------------------------------- */
/** FOOTER */
/* ------------------------------------------- */

.footer {
  background: var(--background-color-blue);
  color: var(--font-color-white);
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
}

.footer h3 {
  font-size: 2.5rem;
  font-family: var(--font-square-peg);
}

.footerEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 0.3125rem;
}

.footerPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 2.625rem;
}

.footerEmail,
.footerPhone {
  font-size: 1.125rem;
  font-weight: var(--font-weight-regular);
}

.footerEmail svg,
.footerPhone svg {
  width: 0.8125rem;
  height: 0.8125rem;
}

.footerSoMeText {
  font-size: 2.5rem;
  font-family: var(--font-square-peg);
  margin-bottom: 0.5625rem;
}

.footerSoMeIcons svg {
  width: 3.125rem;
  height: 3.125rem;
  display: inline-flex;
  justify-content: space-around;
  margin-right: 1.25rem;
}
